@tailwind base;
@tailwind components;
@tailwind utilities;

.orange {
  background-image: linear-gradient(to bottom left, #ff6458, #f9b15e);
  transition: all;
  transition-duration: 0.5s;
}

.skyblue {
  background-image: linear-gradient(to bottom left, #3765d8, #12b0fc);
  transition: all;
  transition-duration: 0.5s;
}
.skyblue span {
  @apply bg-gradient-to-r from-blue-500 via-sky-600 to-sky-500 bg-clip-text text-transparent;
}
.pink {
  background-image: linear-gradient(to bottom left, #d66db8, #e27a96);
  transition: all;
  transition-duration: 0.5s;
}
.pink span {
  @apply bg-gradient-to-r from-pink-500 via-red-600 to-pink-500 bg-clip-text text-transparent;
}
.green {
  background-image: linear-gradient(to bottom left, #34a25c, #51cd83);
  transition: all;
  transition-duration: 0.5s;
}
.green span {
  @apply bg-gradient-to-r from-green-500 via-green-600 to-green-500 bg-clip-text text-transparent;
}

.purple {
  background-image: linear-gradient(to bottom left, #40389d, #a452c9);
  transition: all;
  transition-duration: 0.5s;
}
.purple span {
  @apply bg-gradient-to-r from-purple-500 via-violet-600 to-pink-500 bg-clip-text text-transparent;
}
.space {
  background-image: url("/space.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .background:hover {
  background-image: linear-gradient(to bottom left, #ff786efb, #ffb070f6);
} */
.orange span {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
.wave {
  background-image: url("/wave.png");
  background-size: 1000px 100px;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: animate ease-in-out 4s infinite;
}

.wave.wave1 {
  z-index: 100;
  opacity: 1;
  background-position-x: 400px;
}

.wave.wave2 {
  z-index: 99;
  opacity: 0.5;
  background-position-x: 300px;
}

.wave.wave3 {
  z-index: 98;
  opacity: 0.2;
  background-position-x: 200px;
}

.wave.wave4 {
  animation: wave2 15s linear infinite;
  z-index: 99;
  opacity: 0.7;
  animation-delay: -5s;
  background-position-x: 100px;
}

@keyframes animate {
  0%,
  100% {
    background-position-x: 0;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary-color: #ff776e;
    --secondary--color: #ffb170;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
